/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  font-weight: normal;
  vertical-align: baseline;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

html::-webkit-scrollbar {
  display: none
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-spacing: 0;
}

/* custom */
a {
  color: #7e8c8d;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
  line-height: 1;
  font-weight: 200;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.clearfix:after{font-size:0;display:block;visibility:hidden;clear:both;height:0;content:' '}
*:first-child+html .clearfix,*html .clearfix,.zoom{zoom:1}

#app {
  height: 100%;
  overflow: auto;
  position: relative;
}

.main-contanier {
  min-width: 1200px;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f5f8f9;
}

.main-right-con {
  padding: 20px;
}
